.nav-tab{
  position: fixed;
  top: 0;
  left: 248px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  background-color: #2a2a2a;
  z-index: 3;
  padding: 159px 0 0 0;
}

.nav-tab:after{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.nav-tab__button{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
  padding: 0;
  margin: 0 0 29px 0;
}

.nav-tab__button:nth-child(3){
  margin-bottom: 621px;
}


.nav-tab__account-text{
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  padding: 0;
  margin: 2px 0 0 8px;
}

.nav-tab__account-logo{
  width: 11px;
  height: 11px;
  border-radius: 50px;
  padding: 9px;
  background-color: rgba(117, 117, 117, 0.2);
  margin: 2px 0 0 0;
}

.nav-tab__account{
  margin: 0;
  gap: 7px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav-tab__close-button{
  position: absolute;
  width: 29px;
  height: 29px;
  border: 0;
  background-color: transparent;
  top: 23px;
  right: 23px;
  background-image: url("../../images/ui/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 610px) {

  .nav-tab{
    left: 0;
    padding: 145px;
  }

  .nav-tab__button{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
  }

  .nav-tab__button:nth-child(3) {
    margin-bottom: 443px;
  }

  .nav-tab__close-button{
    top: 14px;
    right: 14px;
  }

}